<a href="https://colab.research.google.com/github/Digitall-Ivan/Data_Analytics_course/blob/main/Ivan_Zakorchevnyi_hw_3_3_Widen_methods_data_processing_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('/content/drive/MyDrive/I LOVE DATA EDU COURSE/RAWDATA/supermarket_sales.csv')

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [4]:
df.sort_values('Unit price').head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
944,333-23-2632,A,Yangon,Member,Male,Health and beauty,10.08,7,3.5280,74.0880,3/28/2019,20:14,Cash,70.56,4.761905,3.5280,4.2
572,239-48-4278,A,Yangon,Member,Male,Food and beverages,10.13,7,3.5455,74.4555,3/10/2019,19:35,Ewallet,70.91,4.761905,3.5455,8.3
784,516-77-6464,C,Naypyitaw,Member,Female,Health and beauty,10.16,5,2.5400,53.3400,2/24/2019,13:08,Ewallet,50.80,4.761905,2.5400,4.1
822,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,10.17,1,0.5085,10.6785,2/7/2019,14:15,Cash,10.17,4.761905,0.5085,5.9
881,115-38-7388,C,Naypyitaw,Member,Female,Fashion accessories,10.18,8,4.0720,85.5120,3/30/2019,12:51,Credit card,81.44,4.761905,4.0720,9.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів `Electronic accessories`, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [17]:
df[df['Product line'] == 'Electronic accessories'].sort_values(by=['Quantity','Unit price'], ascending=[False, False]).head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
105,704-48-3927,A,Yangon,Member,Male,Electronic accessories,88.67,10,44.335,931.035,1/12/2019,14:50,Ewallet,886.7,4.761905,44.335,7.3

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу (`Rating`): високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [18]:
df['Rating Category'] = pd.cut(df['Rating'],bins=[0, 6, 8, 10],labels=['Low', 'Medium', 'High'],right=False)

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [20]:
df['Rating Category'].value_counts(normalize=True)

Rating Category
Medium    0.357789
High      0.325628
Low       0.316583
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [26]:
time = '11:28'

In [23]:
def get_hour(time):
    hour_str = time.split(":")[0]
    return int(hour_str)

In [28]:
hour = get_hour(time)
print(hour)

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [29]:
df['Hour'] = df['Time'].apply(get_hour)

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [30]:
df['Hour'].value_counts().sort_index()

Hour
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: count, dtype: int64

О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?
*На мій погляд, виходячи з отриманих даних, маємо кілька піків покупок - о 13, 15 та 19 годинах. Це виглядає логічним, оскільки зазвичай пік покупок найчастіше спостеріється в обідню перерву з 12 до 15 годин, а також коли покупці повертаються з роботи додому та мають час ввечері для візиту в супермаркет.*

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [31]:
df.groupby('City')['Total'].mean().round(2)

City
Mandalay     319.87
Naypyitaw    337.10
Yangon       312.35
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [33]:
df.groupby('City')['Total'].agg(['count', 'mean', 'min', 'max', 'sum']).round(2)

           count    mean    min      max        sum
City
Mandalay     332  319.87  18.64  1022.49  106197.67
Naypyitaw    328  337.10  10.68  1042.65  110568.71
Yangon       340  312.35  12.69  1039.29  106200.37

Дані по містам співставні. Місто Naypyitaw має навищий середній чек та сумарний виторг. Yangon — має найбільший трафік покупок, але середній чек нижчий.Розкид між мінімумом і максимумом свідчить про широкий асортимент товарів/категорій.
Основні рекомендації:
- Пропонувати супутні товари перед оплатою (cross-sale)
- Пропонувати дорожчі версії або більші об'єми (Upsell типу - придбай дві одиниці зі знижкою)
- Стимулювати до покупок через встановлення порогів бонусів - типу - купи на 500+ — отримай подарунок / знижку / безкоштовну доставку
 - Фокусувати промо на пік часу покупок згідно попередньо отриманих даних.
Додатково можна провести когортний аналіз покупців за категоріями, щоб знайти найбільш прибуткові комбінації.
Побудувати heatmap по годинах/днях тижня для запуску промо акцій в потрібний момент.

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [34]:
df.to_csv("supermarket_sales_enriched.csv", index=False)